/src/simple_chatbot/tmp/
/src/simple_chatbot/.idea/
/src/housing_price_prediction/.idea/
/src/housing_price_prediction/data/housing_sample.csv
.idea
.DS_Store
src/.DS_Store
src/housing_price_prediction/.DS_Store
src/housing_price_prediction/data/.DS_Store
src/simple_chatbot/.DS_Store
